.content {
	margin: 80px auto 0 auto;
	max-width: 1000px;
}

.form-signin .form-control {
	height: 44px;
}

.form-signin input[name='username'] {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.form-signin input[type='password'] {
	margin-top: -1px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.form-signin .btn {
	margin-top: 10px;
}

#footer {
	height: 80px;
	line-height: 80px;
	text-align: center;
}