
@import "variables.less";

//
// entry-detail.less
//


.entry-detail {
	font-family: @font-default;
	
	.header {
		.title {
			font-weight: normal;
			font-size: 32px;
			color: #333;
		}

		.des {
			margin-top: 20px;
			line-height: 23px;
			text-indent: 30px;
			font-size: 16px;
			color: #999;
		}

		.meta-hd {
			margin-top: 20px;
			font-size: 14px;
			color: #333;
			.photo {
				margin-right: 5px;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				vertical-align: middle;
			}

			a {
				color: #36f;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	
	.cont {
		margin-top: 40px;
		color: #333;
		line-height: 23px;

		h2 {
			text-indent: 30px;
			margin-top: 20px;
			font-size: 16px;
		}

		p {
			margin-top: 20px;
			text-indent: 30px;
		}
	}
}