
@import "variables.less";

// 
// header.less
// 


.header {
	position: relative;
	width: 100%;
	height: 260px;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
	text-align: center;
	font-family: @font-default;

	.logo {
		margin-top: 26px;
		width: 110px;
		height: 110px;
		border-radius: 50%;
		vertical-align: middle;
	}

	.title {
		margin-top: 20px;
		font-size: 30px;
		font-weight: normal;
		color: #333;
	}

	.sub-title {
		margin-top: 20px;
		font-size: 16px;
		color: #666;
	}

	.btn-menu {
		position: absolute;
		top: 0;
		right: 10px;
		line-height: 50px;
		font-size: 26px;
		color: #333;
	}
}