
@import "variables.less";

// 
// header.less
// 


.header {
	position: relative;
	width: 100%;
	height: 260px;
	border-bottom: 1px solid #ddd;
	background: url(../../images/temp/7.jpg) no-repeat center bottom;
	font-family: @font-default;

	.logo {
		padding-top: 26px;
		height: 110px;
		text-align: center;

		img {
			width: 110px;
			height: 110px;
			border-radius: 50%;
			vertical-align: middle;			
		}
	}

	.title {
		margin-top: 20px;
		font-size: 30px;
		font-weight: normal;
		text-align: center;		
		a {
			color: #fff;
		}
	}

	.sub-title {
		margin-top: 20px;
		font-size: 16px;
		color: #fff;
		text-align: center;
	}

	.btn-menu {
		display: none;
		position: absolute;
		top: 0;
		right: 10px;
		line-height: 50px;
		font-size: 26px;
		color: #fff;
	}
}