/**
*
* reset.less v0.1.0
* CSS Reset Styles
* Source: http://github.com/wangchi/css-reset
*
* Mail: hiwangchi@gmail.com
* Date: 2014-12-10 11:06:28
*
* MIT
*
*/
/**
* ------------------------------
* Reset
* ------------------------------
*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ul,
ol,
li,
div,
p,
th,
td,
pre,
code,
blockquote,
fieldset,
legend,
form,
input,
textarea {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
ol,
ul {
  list-style: none;
}
address,
caption,
cite,
code,
dfn,
em,
i,
th,
var {
  font-style: normal;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #333;
}
/**
* ------------------------------
* HTML5 display block
* ------------------------------
*/
header,
nav,
main,
article,
aside,
section,
footer {
  display: block;
}
/**
* ------------------------------
* Remove some default styles
* ------------------------------
*/
input,
textarea {
  outline-style: none;
}
input[type="text"],
input[type="password"],
textarea {
  outline-style: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
textarea {
  resize: none;
}
a,
a:link,
a:visited {
  color: #333;
}
a {
  text-decoration: none;
}
/**
* ------------------------------
* Set some default styles
* ------------------------------
*/
body,
button,
input,
select,
textarea {
  font: 12px/1.5 tahoma, 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
  color: #606060;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
}
.mobile-ppt {
  position: absolute;
  width: 100%;
}
.mobile-ppt .ppt {
  overflow: hidden;
}
.ppt-example {
  background-color: #fd6639;
  text-align: center;
  color: #fff;
}
.ppt-example .header {
  position: fixed;
  height: 40px;
  overflow-x: scroll;
  background: #333;
}
.ppt-example .header ul {
  width: 2000px;
  overflow: hidden;
}
.ppt-example .header li {
  float: left;
  line-height: 40px;
  font-size: 0;
}
.ppt-example .header li a {
  display: block;
  padding: 0 15px;
  font-size: 14px;
}
.ppt-example .header li a:hover {
  background: #666;
}
.ppt-example .ppt-cont {
  margin-top: 40px;
  padding-bottom: 50px;
}
.ppt-example a {
  color: #fff;
  text-decoration: underline;
}

