
@import "variables.less";

body {
	// background-color: #f1f1f1;
}

//
// header
//===============

#header {
	width: 100%;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
}

#hd-container {
	margin: 0 auto;
	max-width: 1200px;
	height: 70px;
	font-family: @font-family-default;


	.logo {
		float: left;
		// line-height: 68px;

		.pic {
			float: left;
			margin-top: 21px;
			width: 145px;
			height: 28px;
			border-radius: 5px;
		}

		.title {
			display: none;
			float: left;
			font-size: 22px;
			color: #666;
		}

		.desc {
			float: left;
			margin: 33px 0 0 15px;
			font-size: 14px;
			color: #999;
		}
	}


	.nav-site {
		float: right;
		margin-top: 20px;
		height: 30px;
		line-height: 30px;
		.menu {
			li {
				float: left;
				margin-left: 10px;
				font-size: 16px;

				a {
					display: block;
					padding: 0 10px;
					color: #666;
					&:hover {
						border-radius: 3px;
						background-color: #0095dd;
						color: #fff;
					}
				}
			}

			.active {
				a {
					color: #0095dd;
				}
			}
		}
	}
}



//
// content
//===============

#content {
	margin: 0 auto;
	max-width: 1200px;
}

.content-s1 {
	.main {
		margin-right: 320px;
		background-color: #fff;

		.entry {
			padding-top: 25px;
			font-family: @font-family-default;
		}

		.entry-hd {
			.title {
				font-weight: normal;
				font-size: 24px;
				a {
					color: #0095dd;
					&:hover {
						color: #36f;
						// text-decoration: underline;
					}
				}

				.cat,
				.top {
					font-size: 16px;
				}

				.top {
					margin-right: 10px;
					background-color: #f7464f;
					color: #fff;
					padding: 4px 10px;
				}

				.cat {
					margin-right: 15px;

					a {
						position: relative;
						display: inline-block;
						padding: 4px 10px;
						background-color: #0095dd;
						color: #fff;

						&:after {
							position: absolute;
							top: 50%;
							right: -12px;
							margin-top: -5px;
							content: '';
							width: 0;
							height: 0;
							border: 6px solid transparent;
							border-left-color: #0095dd;
						}

						&:hover {
							opacity: 0.8;
						}
					}
				}
			}
		}

		.entry-cont {
			margin-top: 10px;
			font-size: 15px;
			line-height: 30px;
			color: #666;

			p {
				text-indent: 20px;
				margin-bottom: 12px;
			}
		}

		.entry-ft {
			height: 28px;
			padding-top: 5px;
			padding-bottom: 25px;
			border-bottom: 1px dashed #ddd;

			.more {
				float: right;
				width: 100px;
				line-height: 28px;
				background-color: #f7464f;
				text-align: center;
				color: #fff;
				&:hover {
					opacity: 0.8;
				}
			}
		}

		.meta-ft {
			float: left;
			line-height: 28px;
			font-size: 12px;
			color: #757575;

			a {
				color: #757575;
				&:hover {
					color: #0095dd;
				}
			}

			.m {
				float: left;
			}

			.icon {
				margin-right: 5px;
			}

			.icon-tag {
				color: #888;
			}

			.icon-eye {
				float: left;
				line-height: 28px;
				font-size: 14px;
			}

			.date,
			.tags {
				margin-right: 15px;
			}

			.tags a {
				margin-right: 6px;
				&:last-child {
					margin-right: 0;
				}
			}

			.views {
				line-height: 28px;
			}
		}
	}

	.sidebar {
		float: right;
		width: 300px;
		height: 500px;
		background-color: #fff;
	}
}