/*
* base.less
* =========================
*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ul,
ol,
li,
th,
td,
p,
blockquote,
pre,
form,
fieldset,
legend,
input,
button,
textarea,
hr {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
li {
  list-style: none;
}
fieldset,
img {
  border: 0;
}
img {
  vertical-align: middle;
}
q:before,
q:after {
  content: '';
}
input,
textarea {
  outline-style: none;
}
input[type="text"],
input[type="password"],
textarea {
  outline-style: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea {
  resize: none;
}
address,
caption,
cite,
code,
dfn,
em,
i,
th,
var {
  font-style: normal;
  font-weight: normal;
}
legend {
  color: #000;
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
a {
  text-decoration: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}
/*.clearfix {
	*zoom: 1;
}*/
.fl {
  float: left;
}
.fr {
  float: right;
}
a,
a:link,
a:visited {
  color: #303030;
}

/*
* header.less
* =========================
*/
.header {
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #e73736;
  /* 	text-align: justify;
font-size: 0; */
  /*	.logo {
		margin-top: 10px;
		width: 100px;
		height: 30px;
		vertical-align: middle;
	}*/
}
.header .btn {
  display: block;
  width: 50px;
  height: 50px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center center;
}
.header .btn-menu {
  float: left;
  background-image: url(../../images/common/ico-menu.png);
  background-size: 75%;
}
.header .btn-cart {
  float: right;
  background-image: url(../../images/common/ico-cart.png);
  background-size: 50%;
}
.header .logo {
  display: block;
  margin: 0 50px;
}
.header .logo .tit {
  font-size: 22px;
  text-align: center;
}
.header .logo a {
  color: #fff;
}
/* .header:after {
	display: inline-block;
	width: 100%;
	content: '';
} */

.menu {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  font-family: arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  overflow: hidden;
}
.menu .menu-list {
  width: 100%;
  height: 100%;
  background-color: #333;
}
.menu .menu-list li {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #444;
  background-color: #333;
  font-size: 16px;
  text-indent: 40px;
}
.menu .menu-list li a {
  display: block;
  color: #fff;
}
.menu .menu-list li:hover {
  opacity: 0.8;
}
.menu .menu-list .tit {
  text-indent: 0;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.menu .menu-list .tit a {
  color: #f80;
}
.menu .menu-list .active {
  background-color: #666;
}
.menu .menu-list .tit:hover {
  background-color: #333;
}
.menumask {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
}

.slide {
  height: 150px;
}
.slide img {
  width: 100%;
  height: 150px;
}

.item-lis {
  font-family: arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}
.item-lis .a-li:hover li {
  background-color: #f9f9f9;
  box-shadow: 1px 1px 3px #999;
}
.item-lis li {
  margin-top: 10px;
  height: 120px;
  background-color: #fff;
  box-shadow: 1px 1px 3px #ccc;
  overflow: hidden;
}
.item-lis li .cont {
  position: relative;
  height: 120px;
}
.item-lis .item-pic {
  float: left;
  margin-right: 10px;
  width: 120px;
  height: 120px;
}
.item-lis .item-tit {
  margin-top: 10px;
  line-height: 20px;
  font-weight: normal;
  font-size: 16px;
  color: #333;
}
.item-lis .item-des {
  display: none;
  max-height: 55px;
  padding-right: 10px;
  overflow: hidden;
  font-size: 12px;
  color: #666;
}
.item-lis .item-meta {
  position: absolute;
  left: 130px;
  bottom: 15px;
  height: 45px;
}
.item-lis .item-price {
  display: block;
  font-size: 22px;
  color: #e73736;
}
.item-lis .item-price .item-price-ori {
  margin-left: 5px;
  font-size: 12px;
  color: #ccc;
}
.item-lis .item-like {
  display: block;
  margin-top: 3px;
  font-size: 12px;
  color: #666;
}

/*
* footer.less
* =========================
*/
.footer {
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #666;
  font-family: arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  font-size: 12px;
}
.footer a {
  color: #36f;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  position: relative;
  background-color: #f1f1f1;
}
.container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background-color: #f1f1f1;
  -webkit-transition: left 0.5s ease, right 0.5s ease, margin 0.5s ease;
}
.header {
  -webkit-transition: left 0.5s ease, right 0.5s ease, margin 0.5s ease;
}
.content {
  margin: 0 auto;
  padding: 0 2%;
  max-width: 1000px;
}
.menuShow {
  overflow: hidden;
}
.menuShow body {
  overflow: hidden;
}
.menuShow .container {
  z-index: 1px;
  left: 70%;
}
.menuShow .container .header {
  left: 70%;
}
.menuShow .menumask {
  display: block;
  z-index: 2;
}
