body {
  overflow: hidden;
}
.ppt-normal {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.ppt-normal .ppt-img-bg .ppt-cont {
  position: absolute;
  width: 100%;
}
.ppt-normal .ppt-img-bg .ppt-bg {
  width: 100%;
  vertical-align: middle;
}
