* {
	margin: 0;
	padding: 0;
}

a, a:link, a:visited {
	color: #36f;
	text-decoration: none;
}

a:hover {
	color: #039;
	text-decoration: underline;
}

#content {

}

#content:after {
	display: table;
	content: '';
	clear: both;
}

#content .dList {
	clear: both;
	padding: 10px 0;
	border-bottom: 1px dashed #ccc;
}

#content .dList:hover {
	background-color: #ccc;
}

#content .dList dt {
	float: left;
}