@font-face {
  font-family: 'icomoon';
  src: url('../../fonts/icomoon.eot?-un3ecz');
  src: url('../../fonts/icomoon.eot?#iefix-un3ecz') format('embedded-opentype'), url('../../fonts/icomoon.woff?-un3ecz') format('woff'), url('../../fonts/icomoon.ttf?-un3ecz') format('truetype'), url('../../fonts/icomoon.svg?-un3ecz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icomoon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-user:before {
  content: "\e600";
}
.icon-comment:before {
  content: "\e601";
}
.icon-tag:before {
  content: "\e602";
}
.icon-eye:before {
  content: "\e603";
}
.icon-clock:before {
  content: "\e604";
}
.icon-user2:before {
  content: "\e605";
}
.icon-list:before {
  content: "\e606";
}
.icon-arrow-left:before {
  content: "\e607";
}
.icon-arrow-right:before {
  content: "\e608";
}
.f-reset-a-active {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.f-page-layer {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.f-cb:after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: '';
}
.f-cb {
  *zoom: 1;
}
.f-fl {
  float: left;
}
.f-fr {
  float: right;
}
.entry-list {
  width: 100%;
  font-family: Ubuntu, Consolas, "Microsoft Yahei", Verdana, Tahoma, Arial, sans-serif;
  overflow: hidden;
}
.entry-list article {
  float: left;
  margin: 20px;
  width: 360px;
  height: 428px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  /* 		.pic,
.pic img {
	width: 100%;
} */
}
.entry-list article .pic {
  position: relative;
  width: 360px;
  height: 216px;
  overflow: hidden;
  /* 			.pic-mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	-webkit-transition: all 0.3s;
} */
}
.entry-list article .pic:hover {
  /* 				.pic-mask {
	background-color: rgba(0, 0, 0, 0)
} */
}
.entry-list article .pic:hover img {
  opacity: 0.8;
}
.entry-list article .pic img {
  width: 100%;
  -webkit-transition: all 0.2s;
}
.entry-list article header,
.entry-list article .excerpt {
  padding: 0 20px;
}
.entry-list article .tit {
  margin-top: 20px;
  font-size: 20px;
  font-weight: normal;
}
.entry-list article .tit a {
  color: #333;
  -webkit-transition: all 0.3s;
}
.entry-list article .tit a:hover {
  color: #36f;
}
.entry-list article .excerpt {
  margin-top: 20px;
  line-height: 22px;
  font-size: 14px;
  color: #666;
}
.entry-list article .meta-b {
  margin-top: 20px;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  border-top: 1px solid #eee;
  font-size: 12px;
  color: #999;
}
.entry-list article .meta-b a {
  color: #999;
}
.entry-list article .meta-b a:hover {
  color: #36f;
}
.entry-list article .meta-b .icomoon {
  float: left;
  margin-right: 3px;
  font-size: 14px;
  color: #bbb;
}
.entry-list article .meta-b .read {
  float: left;
  margin-right: 10px;
}
.entry-list article .meta-b .cmt {
  float: left;
  margin-right: 10px;
}
.entry-list article .meta-b .tags {
  float: left;
  display: none;
}
.entry-list article .meta-b .date {
  float: right;
}
