.nav-s2 {
  width: 100%;
  height: 46px;
  background-color: #fff;
  box-shadow: 1px 1px 3px #ccc;
  font-family: Ubuntu, Consolas, "Microsoft Yahei", Verdana, Tahoma, Arial, sans-serif;
}
.nav-s2 .menu {
  position: relative;
  margin: 0 auto;
  opacity: 0;
}
.nav-s2 .menu li {
  float: left;
  height: 46px;
  line-height: 46px;
  font-size: 16px;
  padding: 0 10px;
}
.nav-s2 .menu li a {
  display: block;
  color: #333;
}
.nav-s2 .menu li:hover a,
.nav-s2 .menu .current-cat a,
.nav-s2 .menu .active a {
  color: #36f;
}
.nav-s2 .menu .slider {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #36f;
}
