
body {
	margin: 50px;
}

#Table1{
	height: 100%;
	border-collapse:collapse;
	border-spacing: 0;
	border-color: #000;
	border-radius: 10px;
	/*opacity: 0.7;*/
	font-size: 1em;
	position: absolute;
}
.other{
	color: #48D1CC;
}
.dianlu{
	color: #FFFFFF;
	background-color: #40E0D0;
}
.English{
	color: #FFFFFF;
	background-color: #00FA9A;
}
.number{
	color: #FFFFFF;
	background-color: #FA8072;
}
.math{
	color: #FFFFFF;
	background-color: #DDA0DD;
}
.Java{
	color: #FFFFFF;
	background-color: #00FFFF;
}
.PE{
	color: #FFFFFF;
	background-color: #FFD700;
}
.IT{
	color: #FFFFFF;
	background-color: #FFC0CB;
}
.guanli{
	color: #FFFFFF;
	background-color: #ADFF2F;
}
.computer{
	color: #FFFFFF;
	background-color: #FF00FF;
}
.minsu{
	color: #FFFFFF;
	background-color: #8470FF;
}



/* zengjia */
* {
	margin: 0;
	padding: 0;
}
#Table1 {
	border: 1px solid #ccc;
}