body {
  background-color: #f0f0f0;
}
#top {
  width: 100%;
  background-color: #333;
}
#top-container {
  margin: 0 auto;
  max-width: 1200px;
  height: 50px;
  background-color: #333;
}
#top-container .logo {
  float: left;
}
#top-container .logo .title {
  line-height: 50px;
  font-size: 24px;
  text-indent: 10px;
}
#top-container .logo a {
  color: #fff;
}
#top-container .nav-top {
  float: right;
}
#top-container .nav-top .uList li {
  display: inline-block;
  padding: 0 10px;
  line-height: 50px;
  font-size: 14px;
}
#top-container .nav-top .uList li a {
  color: #fff;
}
#top-container .nav-top .uList li a:hover {
  color: #fd6639;
}
#header {
  width: 100%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
}
#hd-container {
  margin: 0 auto;
  max-width: 1200px;
  height: 86px;
  font-family: tahoma, 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
}
#hd-container .logo {
  display: none;
  float: left;
}
#hd-container .logo .pic {
  display: none;
  margin-top: 21px;
  width: 145px;
  height: 28px;
}
#hd-container .logo .title {
  line-height: 60px;
  font-size: 26px;
  font-weight: normal;
}
#hd-container .logo .title a {
  color: #fd6639;
}
#hd-container .site-desc {
  display: none;
  float: left;
  margin: 33px 0 0 15px;
  font-size: 14px;
  color: #999;
}
#hd-container .nav-cat {
  float: left;
  line-height: 86px;
}
#hd-container .nav-cat .menu li {
  float: left;
  font-size: 14px;
}
#hd-container .nav-cat .menu li a {
  display: inline-block;
  padding: 0 20px;
  color: #606060;
}
#hd-container .nav-cat .menu li a:hover {
  color: #fd6639;
}
#hd-container .nav-cat .menu .current-cat a {
  position: relative;
  color: #fd6639;
}
#hd-container .nav-cat .menu .current-cat a:after {
  position: absolute;
  bottom: -3px;
  left: 50%;
  margin-left: -12px;
  content: '';
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-bottom-color: #f0f0f0;
}
#content {
  margin: 0 auto;
  margin-top: 25px;
  max-width: 1200px;
}
.content-s1 .main {
  margin-right: 325px;
}
.content-s1 .main .entry {
  margin-top: 25px;
  padding: 20px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  font-family: tahoma, 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
  background-color: #fff;
}
.content-s1 .main .entry-hd {
  line-height: 30px;
}
.content-s1 .main .entry-hd .cat,
.content-s1 .main .entry-hd .stick {
  display: none;
  float: left;
  font-size: 16px;
}
.content-s1 .main .entry-hd .stick {
  margin-right: 10px;
  background-color: #f7464f;
  color: #fff;
  padding: 0 10px;
}
.content-s1 .main .entry-hd .cat {
  margin-right: 15px;
}
.content-s1 .main .entry-hd .cat a {
  position: relative;
  display: inline-block;
  padding: 0 10px;
  background-color: #0095dd;
  color: #fff;
}
.content-s1 .main .entry-hd .cat a:after {
  position: absolute;
  top: 50%;
  right: -12px;
  margin-top: -5px;
  content: '';
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-left-color: #0095dd;
}
.content-s1 .main .entry-hd .cat a:hover {
  opacity: 0.8;
}
.content-s1 .main .entry-hd .title {
  font-weight: normal;
  font-size: 24px;
  color: #606060;
}
.content-s1 .main .entry-hd .title a {
  color: #333;
}
.content-s1 .main .entry-hd .title a:hover {
  color: #fd6639;
}
.content-s1 .main .entry-cont {
  margin-top: 10px;
  font-size: 14px;
  line-height: 30px;
  color: #666;
}
.content-s1 .main .entry-cont p {
  text-indent: 20px;
  margin-bottom: 12px;
}
.content-s1 .main .entry-ft {
  padding-top: 5px;
  overflow: hidden;
}
.content-s1 .main .entry-ft .more {
  float: right;
  width: 100px;
  line-height: 28px;
  background-color: #fd6639;
  text-align: center;
  color: #fff;
  font-size: 14px;
}
.content-s1 .main .entry-ft .more:hover {
  opacity: 0.8;
}
.content-s1 .main .meta-hd,
.content-s1 .main .meta-ft {
  line-height: 28px;
  font-size: 12px;
  color: #999;
}
.content-s1 .main .meta-hd a,
.content-s1 .main .meta-ft a {
  color: #fd6639;
}
.content-s1 .main .meta-hd a:hover,
.content-s1 .main .meta-ft a:hover {
  text-decoration: underline;
}
.content-s1 .main .meta-hd .m,
.content-s1 .main .meta-ft .m {
  float: left;
}
.content-s1 .main .meta-hd .icon,
.content-s1 .main .meta-ft .icon {
  margin-right: 5px;
}
.content-s1 .main .meta-hd .icon-eye,
.content-s1 .main .meta-ft .icon-eye {
  float: left;
  line-height: 28px;
  font-size: 16px;
}
.content-s1 .main .meta-hd .icon-comment,
.content-s1 .main .meta-ft .icon-comment {
  float: left;
  font-size: 16px;
  line-height: 30px;
}
.content-s1 .main .meta-hd .views,
.content-s1 .main .meta-ft .views,
.content-s1 .main .meta-hd .category,
.content-s1 .main .meta-ft .category,
.content-s1 .main .meta-hd .author,
.content-s1 .main .meta-ft .author,
.content-s1 .main .meta-hd .date,
.content-s1 .main .meta-ft .date,
.content-s1 .main .meta-hd .tags,
.content-s1 .main .meta-ft .tags {
  margin-right: 15px;
}
.content-s1 .main .meta-hd .tags a,
.content-s1 .main .meta-ft .tags a {
  margin-right: 6px;
}
.content-s1 .main .meta-hd .tags a:last-child,
.content-s1 .main .meta-ft .tags a:last-child {
  margin-right: 0;
}
.content-s1 .main .meta-hd .views,
.content-s1 .main .meta-ft .views {
  line-height: 28px;
}
.content-s1 .main .meta-hd {
  overflow: hidden;
}
.content-s1 .main .meta-ft {
  float: left;
}
.content-s1 .sidebar {
  float: right;
  width: 300px;
}
.content-s1 .sidebar .widget {
  margin-top: 25px;
  padding: 20px;
  background-color: #fff;
  font-family: tahoma, 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
}
.content-s1 .sidebar .widget .title {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  font-weight: normal;
  color: #666;
}
.content-s1 .entry-detail .entry-hd {
  padding-bottom: 10px;
}
.content-s1 .entry-detail .entry-hd .title {
  font-size: 28px;
}
.content-s1 .entry-detail .meta-hd {
  margin-top: 15px;
}
.content-s1 .entry-detail .meta-hd .views,
.content-s1 .entry-detail .meta-hd .comment-counts {
  float: right;
}
.content-s1 .entry-detail .entry-ft {
  padding-top: 15px;
}
.content-s1 .entry-detail .meta-ft .icon-tag {
  float: left;
  margin-right: 8px;
  line-height: 26px;
  font-size: 18px;
}
.content-s1 .entry-detail .meta-ft .tags a {
  float: left;
  margin-right: 6px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #0095dd;
  color: #fff;
}
.content-s1 .entry-detail .meta-ft .tags a:hover {
  opacity: 0.8;
}
.content-s1 .entry-detail .meta-ft .tags a:last-child {
  margin-right: 0;
}
.recommend-entryList {
  margin-top: 25px;
  font-family: tahoma, 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
}
.recommend-entryList .title {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  font-weight: normal;
  font-size: 18px;
  color: #666;
}
.recommend-entryList .uList {
  margin-top: 6px;
}
.recommend-entryList .uList li {
  padding: 3px 0;
  line-height: 26px;
  font-size: 15px;
}
.recommend-entryList .uList li a {
  color: #0095dd;
}
.recommend-entryList .uList li a:hover {
  color: #06c;
}
.comment {
  margin-top: 25px;
}
.comment .title {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  font-family: tahoma, 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #666;
}
.widget-entryList {
  margin-top: 0 !important;
}
.widget-entryList .title {
  margin-bottom: 10px;
}
.widget-entryList .uList li {
  font-size: 14px;
}
.widget-entryList .uList li a {
  display: block;
  padding: 6px 0;
  color: #666;
}
.widget-entryList .uList li a:hover {
  color: #fd6639;
}
.widget-commentList .uList li {
  padding: 10px 0;
  border-bottom: 1px dashed #ddd;
  overflow: hidden;
}
.widget-commentList .uList .photo {
  display: none;
  float: left;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.widget-commentList .uList .meta {
  font-size: 12px;
  color: #999;
}
.widget-commentList .uList .meta a {
  color: #fd6639;
}
.widget-commentList .uList .meta a:hover {
  text-decoration: underline;
}
.widget-commentList .uList .except {
  position: relative;
  margin-top: 10px;
  line-height: 22px;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 3px;
  font-size: 14px;
  color: #666;
}
.widget-commentList .uList .except:before {
  position: absolute;
  top: -12px;
  left: 16px;
  content: '';
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom-color: #f1f1f1;
}
.widget-commentList .uList .parent {
  margin-top: 10px;
  font-size: 12px;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.widget-commentList .uList .parent a {
  margin-left: 3px;
  color: #fd6639;
}
.widget-commentList .uList .parent a:hover {
  text-decoration: underline;
}
.widget-ad .ad-cont img {
  width: 260px;
}
.pagination {
  margin-top: 40px;
  font-family: tahoma, 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
  overflow: hidden;
}
.pagination .btn {
  line-height: 30px;
  padding: 0 20px;
  background-color: #fd6639;
  font-size: 14px;
  color: #fff;
}
.pagination .btn:hover {
  opacity: 0.8;
}
.pagination .btn-prev {
  float: left;
}
.pagination .btn-next {
  float: right;
}
#footer {
  margin-top: 50px;
  height: 130px;
  padding: 10px 0;
  background-color: #fff;
  font-family: tahoma, 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
}
#footer .nav-footer {
  margin-top: 10px;
}
#footer .nav-footer .uList {
  overflow: hidden;
}
#footer .nav-footer .uList li {
  float: left;
  padding: 0 10px;
  line-height: 22px;
  font-size: 12px;
}
#footer .nav-footer .uList li a {
  color: #666;
}
#footer .nav-footer .uList li a:hover {
  color: #fd6639;
}
#footer .copyright {
  margin-top: 10px;
  font-size: 12px;
  text-indent: 10px;
}
#footer .copyright a {
  color: #666;
}
#footer .copyright a:hover {
  color: #fd6649;
}
