@font-face {
  font-family: "iconfont";
  src: url('../../fonts/iconfont.eot');
  src: url('../../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../fonts/iconfont.woff') format('woff'), /* chrome、firefox */ url('../../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../../fonts/iconfont.svg#iconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.item-list-s2 {
  margin-top: 10px;
  max-width: 1000px;
  font-family: arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  text-align: justify;
}
.item-list-s2:after {
  content: '';
  display: inline-block;
  width: 100%;
}
.item-list-s2 li {
  margin-top: 2%;
  display: inline-block;
  width: 49%;
  background-color: #fff;
  box-shadow: 1px 1px 3px #ccc;
}
.item-list-s2 .a-li:nth-child(1) li,
.item-list-s2 .a-li:nth-child(2) li {
  margin-top: 0;
}
.item-list-s2 .item-pic {
  width: 100%;
}
.item-list-s2 .item-title {
  margin-top: 5px;
  font-size: 14px;
  color: #333;
  text-indent: 5px;
}
.item-list-s2 .item-price {
  margin-top: 5px;
  font-size: 16px;
  color: #e73736;
  text-indent: 5px;
}
